body,dl,dd,p,h1,h2,h3,h4,h5,h6{
	margin:0;font-size:12px;
	}
ol,ul{
	margin:0;padding:0;list-style:none;
}
a{
	text-decoration:none;
	}
img{
	border:none;
	vertical-align: top;
	}
i,b{
	list-style: none;
}
form{
	margin:0;
}
input{
	border: none;
	padding:0;
	margin:0;
}
option{
	padding:0;
}

.fl{
	float: left;
}
.fr{
	float: right;
}
.clearFix:after{
	clear: both;
	content: "";
	display: block;
}